body {
    box-sizing: border-box;
    background-color: #e2e2e2;
  }
  
  .container-centered {
    margin: 20px auto;
    width: 1024px;
    font-family: "Poppins", serif;
    font-size: 14px;
    line-height: 1;
    background-color: #ffffff;
    box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.15);
  }
  
   .two-blocks {
     display: flex;
    }
    
   .left-block {
     width: 62%;
     background-color: #78A2CC;
    }
    
    .right-block {
     padding: 40px;
     background-color: #78A2CC;
    }
  
  header {
    padding: 30px;
    text-align: center;
    background-color: #ffffff;
  }
  
  header img {
    margin: 15px;
    border: 10px solid #78A2CC;
    border-radius: 50%;
    width: 200px;
    height: auto;
  }
  
  header h1 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #78A2CC;
  }
  
  header h2 {
    margin-bottom: 0;
    letter-spacing: 2px;
  }
  
  main {
    padding: 0;
    font-size: 1rem;
  }
  
  main h3 {
    padding: 5px 50px;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    background-color: #78A2CC;
  }
  
  main .contacts h3 {
    margin-top: 0;
    margin-bottom: 0;
    transform: translate(0, -50%);
  }
  
  main li {
    margin-bottom: 10px;
  }
  
  .contacts ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
  }

  .contacts li img {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: left;
    object-fit: cover;
    background-color: white;
  } 

  .contacts li p {
    display: inline;
    vertical-align: text-top;
  }
  
  .contacts a {
    text-decoration: none;
    color: black;
  }
  
  main :not(.contacts) ul {
    list-style-type: disc;
    margin-right: 15px;
  }
  
  .skills-category {
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .languages strong {
    text-transform: uppercase;
  }

  .right-block {
    font-size: 1rem;
  }
  
  .sub-header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
    background-color: white;
    font-size: 1.2rem;
    padding: 0 15px;
    vertical-align: middle;
    align-items: center;
    letter-spacing: 3px;
    border: 1px solid #78A2CC;
    border-radius: 4px;
  }
  
  .about-myself .sub-header {
    margin-top: 5px;
  }
  
  .about-myself p {
    margin-bottom: 10px;
    margin-left: 25px;
  }
  
  .right-block img {
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 25px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .courses p {
    margin-left: 45px;
    margin-bottom: 5px;
  }
  
  .courses p strong {
    text-transform: uppercase;
  }
  
  .experience p {
    margin-left: 45px;
    margin-bottom: 0;
    line-height: 1px;
  }
  
  .experience strong {
    text-transform: uppercase;
  }
  
  .education ul {
    list-style-type: disc;
    margin-left: 5px;
    margin-bottom: 30px;
  }
  
  .education-name {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 1rem;
    color: black;
    background-color: white;
  }